@{
    // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="mt-5" asp-controller="Test" asp-action="Test" method="post" enctype="multipart/form-data">
    <label>Select face image:</label>
    <input type="file" name="FaceImage" accept="image/*" multiple/>
    <button type="submit" class="btn btn-primary">Upload & Save</button>
</form>