USE [master]
GO
/****** Object:  Database EventManagement    Script Date: 7/28/2025 4:36:08 PM ******/
CREATE DATABASE EventManagement
GO
USE EventManagement
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](100) NULL,
	[categoryDescription] [nvarchar](1000) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[organizerId] [int] NULL,
	[fullname] [nvarchar](200) NULL,
	[avatarPath] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[categoryId] [int] NULL,
	[locationId] [int] NULL,
	[dateOfEvent] [date] NULL,
	[startTime] [time](7) NULL,
	[endTime] [time](7) NULL,
	[status] [nvarchar](15) NULL,
	[guestRegisterLimit] [int] NULL,
	[collaboratorRegisterLimit] [int] NULL,
	[guestAttendedCount] [int] NULL,
	[guestRegisterCount] [int] NULL,
	[guestRegisterCancelCount] [int] NULL,
	[collaboratorRegisterCount] [int] NULL,
	[guestRegisterDeadline] [date] NULL,
	[collaboratorRegisterDeadline] [date] NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventCollaborator]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCollaborator](
	[studentId] [int] NOT NULL,
	[eventId] [int] NOT NULL,
	[isCancel] [int] NULL,
 CONSTRAINT [PK_EventCollaborator] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC,
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventGuest]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventGuest](
	[guestId] [int] NOT NULL,
	[eventId] [int] NOT NULL,
	[isRegistered] [bit] NULL,
	[isAttended] [bit] NULL,
	[isCancelRegister] [bit] NULL,
 CONSTRAINT [PK_EventGuest] PRIMARY KEY CLUSTERED 
(
	[guestId] ASC,
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventImage]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eventId] [int] NULL,
	[path] [nvarchar](max) NULL,
 CONSTRAINT [PK_EventImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaceEmbedding]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaceEmbedding](
	[studentId] [int] NOT NULL,
	[embeddingJson] [nvarchar](max) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_FaceEmbedding] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[guestId] [int] NOT NULL,
	[eventId] [int] NOT NULL,
	[content] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[guestId] ASC,
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[submitterId] [int] NULL,
	[fileType] [nvarchar](30) NULL,
	[displayName] [nvarchar](max) NULL,
	[path] [nvarchar](max) NULL,
	[sendTime] [datetime] NULL,
	[status] [varchar](15) NULL,
	[processNote] [nvarchar](500) NULL,
	[processTime] [datetime] NULL,
 CONSTRAINT [PK_File] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[studentId] [int] NOT NULL,
	[organizerId] [int] NOT NULL,
 CONSTRAINT [PK_Follow] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC,
	[organizerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[locationName] [nvarchar](100) NULL,
	[locationDescription] [nvarchar](1000) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[senderId] [int] NULL,
	[title] [nvarchar](100) NULL,
	[content] [nvarchar](300) NULL,
	[sendingTime] [datetime] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationReceiver]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationReceiver](
	[notificationId] [int] NOT NULL,
	[receiverId] [int] NOT NULL,
	[isOrganizer] [bit] NOT NULL,
 CONSTRAINT [PK_NotificationReceiver] PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC,
	[receiverId] ASC,
	[isOrganizer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizer]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[acronym] [nvarchar](20) NOT NULL,
	[fullname] [nvarchar](200) NOT NULL,
	[categoryId] [int] NULL,
	[description] [nvarchar](2000) NULL,
	[email] [nvarchar](30) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[avatarPath] [nvarchar](max) NULL,
	[coverPath] [nvarchar](max) NULL,
	[followerCount] [int] NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_Organizer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/28/2025 4:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[studentId] [varchar](8) NULL,
	[email] [nvarchar](30) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[gender] [nvarchar](6) NULL,
	[avatarPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [categoryName], [categoryDescription], [isDeleted]) VALUES (1, N'WORKSHOP', N'A workshop for learning new skills', 0)
INSERT [dbo].[Category] ([id], [categoryName], [categoryDescription], [isDeleted]) VALUES (2, N'SEMINAR', N'A seminar hosted by experts', 0)
INSERT [dbo].[Category] ([id], [categoryName], [categoryDescription], [isDeleted]) VALUES (3, N'ACADEMIC', NULL, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

SET IDENTITY_INSERT [dbo].[Event] OFF
GO
INSERT [dbo].[EventGuest] ([guestId], [eventId], [isRegistered], [isAttended], [isCancelRegister]) VALUES (2, 2, 0, 1, 0)
INSERT [dbo].[EventGuest] ([guestId], [eventId], [isRegistered], [isAttended], [isCancelRegister]) VALUES (2, 5, 0, 1, 0)
INSERT [dbo].[EventGuest] ([guestId], [eventId], [isRegistered], [isAttended], [isCancelRegister]) VALUES (3, 2, 0, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[EventImage] ON 

INSERT [dbo].[EventImage] ([id], [eventId], [path]) VALUES (16, 3, N'/assets/upload/images/77acd1e2-be81-47f0-83e5-e910661a1315.jpg')
INSERT [dbo].[EventImage] ([id], [eventId], [path]) VALUES (17, 3, N'/assets/upload/images/39434161-ad0c-4bc2-99a1-b43fdcefb80a.jpg')
INSERT [dbo].[EventImage] ([id], [eventId], [path]) VALUES (18, 3, N'/assets/upload/images/2f59a9e9-7ff6-4f29-9d68-89d6cd84014e.jpg')
GO
SET IDENTITY_INSERT [dbo].[EventImage] OFF
GO
SET IDENTITY_INSERT [dbo].[FaceEmbedding] ON 

SET IDENTITY_INSERT [dbo].[FaceEmbedding] OFF
GO
INSERT [dbo].[Feedback] ([guestId], [eventId], [content]) VALUES (2, 5, N'Quá đìn')
INSERT [dbo].[Feedback] ([guestId], [eventId], [content]) VALUES (3, 5, N'Gud')
INSERT [dbo].[Feedback] ([guestId], [eventId], [content]) VALUES (4, 5, N'khhkhkhkhkkhkhkhkhkkh')
GO
SET IDENTITY_INSERT [dbo].[File] ON 

INSERT [dbo].[File] ([id], [submitterId], [fileType], [displayName], [path], [sendTime], [status], [processNote], [processTime]) VALUES (992, 8, N'REPORT', N'Report-Thang-8.docx', N'/assets/upload/documents/7006f582-e612-4246-95bd-10ed3f254313.docx', CAST(N'2024-11-07T18:48:49.840' AS DateTime), N'PENDING', NULL, NULL)
SET IDENTITY_INSERT [dbo].[File] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([id], [locationName], [locationDescription], [isDeleted]) VALUES (1, N'Room 215 - Building Alpha', NULL, 0)
INSERT [dbo].[Location] ([id], [locationName], [locationDescription], [isDeleted]) VALUES (2, N'Room 315 - Building Blpha', NULL, 0)
INSERT [dbo].[Location] ([id], [locationName], [locationDescription], [isDeleted]) VALUES (3, N'Penrose Hall - Building Beta', NULL, 0)
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([id], [senderId], [title], [content], [sendingTime]) VALUES (1, 2, NULL, N'Các CLBs gửi report trước 19h ngày 20/11/2024', CAST(N'2024-11-08T01:57:09.757' AS DateTime))
INSERT [dbo].[Notification] ([id], [senderId], [title], [content], [sendingTime]) VALUES (2, 2, NULL, N'Vì lí do thời tiết, nhiều sự kiện có thể bị hoãn hoặc hủy. Các bạn sinh viên chú ý check mail', CAST(N'2024-11-08T01:58:34.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[NotificationReceiver] ([notificationId], [receiverId], [isOrganizer]) VALUES (1, 3, 1)
INSERT [dbo].[NotificationReceiver] ([notificationId], [receiverId], [isOrganizer]) VALUES (1, 4, 1)
INSERT [dbo].[NotificationReceiver] ([notificationId], [receiverId], [isOrganizer]) VALUES (1, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[Organizer] ON 

SET IDENTITY_INSERT [dbo].[Organizer] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([id], [fullname], [studentId], [email], [password], [gender], [avatarPath]) VALUES (1, N'Hoàng Vũ Hưng', N'DE180038', N'hunghvde180038@fpt.edu.vn', N'sC1b29mjvw6nGJAHx5nsXw==:cVdyfmGvzIOxSw81MlTUrEwbIcPoUr3bo2pnWoXMmNY=', N'MALE', N'image/user/default-avatar.jpg')
INSERT [dbo].[Student] ([id], [fullname], [studentId], [email], [password], [gender], [avatarPath]) VALUES (2, N'Nguyen Quoc Anh', N'DE180064', N'anhnqde180064@fpt.edu.vn', N'sC1b29mjvw6nGJAHx5nsXw==:cVdyfmGvzIOxSw81MlTUrEwbIcPoUr3bo2pnWoXMmNY=', N'MALE', N'image/user/default-avatar.jpg')
INSERT [dbo].[Student] ([id], [fullname], [studentId], [email], [password], [gender], [avatarPath]) VALUES (3, N'Nguyen Minh Thang', N'DE180145', N'thangnmde180145@fpt.edu.vn', N'sC1b29mjvw6nGJAHx5nsXw==:cVdyfmGvzIOxSw81MlTUrEwbIcPoUr3bo2pnWoXMmNY=', N'MALE', N'image/user/default-avatar.jpg')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Organize__8172A5310733DA69]    Script Date: 7/28/2025 4:36:08 PM ******/
ALTER TABLE [dbo].[Organizer] ADD UNIQUE NONCLUSTERED 
(
	[acronym] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Organize__AB6E6164720F78E1]    Script Date: 7/28/2025 4:36:08 PM ******/
ALTER TABLE [dbo].[Organizer] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__4D11D63DCDE2B359]    Script Date: 7/28/2025 4:36:08 PM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__AB6E6164A17AFB8A]    Script Date: 7/28/2025 4:36:08 PM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT ((0)) FOR [guestAttendedCount]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT ((0)) FOR [guestRegisterCount]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT ((0)) FOR [guestRegisterCancelCount]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT ((0)) FOR [collaboratorRegisterCount]
GO
ALTER TABLE [dbo].[EventCollaborator] ADD  DEFAULT ((0)) FOR [isCancel]
GO
ALTER TABLE [dbo].[EventGuest] ADD  DEFAULT ((0)) FOR [isRegistered]
GO
ALTER TABLE [dbo].[EventGuest] ADD  DEFAULT ((0)) FOR [isAttended]
GO
ALTER TABLE [dbo].[EventGuest] ADD  DEFAULT ((0)) FOR [isCancelRegister]
GO
ALTER TABLE [dbo].[File] ADD  DEFAULT (getdate()) FOR [sendTime]
GO
ALTER TABLE [dbo].[File] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Location] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [sendingTime]
GO
ALTER TABLE [dbo].[Organizer] ADD  DEFAULT (N'image/user/default-avatar.jpg') FOR [avatarPath]
GO
ALTER TABLE [dbo].[Organizer] ADD  DEFAULT (N'image/user/default-banner.png') FOR [coverPath]
GO
ALTER TABLE [dbo].[Organizer] ADD  DEFAULT ((0)) FOR [followerCount]
GO
ALTER TABLE [dbo].[Organizer] ADD  DEFAULT ((0)) FOR [isAdmin]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (N'image/user/default-avatar.jpg') FOR [avatarPath]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Category]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Location] FOREIGN KEY([locationId])
REFERENCES [dbo].[Location] ([id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Location]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Organizer] FOREIGN KEY([organizerId])
REFERENCES [dbo].[Organizer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Organizer]
GO
ALTER TABLE [dbo].[EventCollaborator]  WITH CHECK ADD  CONSTRAINT [FK_EventCollaborator_Event] FOREIGN KEY([eventId])
REFERENCES [dbo].[Event] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventCollaborator] CHECK CONSTRAINT [FK_EventCollaborator_Event]
GO
ALTER TABLE [dbo].[EventCollaborator]  WITH CHECK ADD  CONSTRAINT [FK_EventCollaborator_Student] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventCollaborator] CHECK CONSTRAINT [FK_EventCollaborator_Student]
GO
ALTER TABLE [dbo].[EventGuest]  WITH CHECK ADD  CONSTRAINT [FK_EventGuest_Event] FOREIGN KEY([eventId])
REFERENCES [dbo].[Event] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventGuest] CHECK CONSTRAINT [FK_EventGuest_Event]
GO
ALTER TABLE [dbo].[EventGuest]  WITH CHECK ADD  CONSTRAINT [FK_EventGuest_Student] FOREIGN KEY([guestId])
REFERENCES [dbo].[Student] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventGuest] CHECK CONSTRAINT [FK_EventGuest_Student]
GO
ALTER TABLE [dbo].[EventImage]  WITH CHECK ADD  CONSTRAINT [FK_EventImage_Event] FOREIGN KEY([eventId])
REFERENCES [dbo].[Event] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventImage] CHECK CONSTRAINT [FK_EventImage_Event]
GO
ALTER TABLE [dbo].[FaceEmbedding]  WITH CHECK ADD  CONSTRAINT [FK_FaceEmbeding_Student] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[FaceEmbedding] CHECK CONSTRAINT [FK_FaceEmbeding_Student]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Event] FOREIGN KEY([eventId])
REFERENCES [dbo].[Event] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Event]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Student] FOREIGN KEY([guestId])
REFERENCES [dbo].[Student] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Student]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_Organizer] FOREIGN KEY([submitterId])
REFERENCES [dbo].[Organizer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_Organizer]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_Organizer] FOREIGN KEY([organizerId])
REFERENCES [dbo].[Organizer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_Organizer]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_Student] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_Student]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Organizer] FOREIGN KEY([senderId])
REFERENCES [dbo].[Organizer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Organizer]
GO
ALTER TABLE [dbo].[NotificationReceiver]  WITH CHECK ADD  CONSTRAINT [FK_NotificationReceiver_Notification] FOREIGN KEY([notificationId])
REFERENCES [dbo].[Notification] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationReceiver] CHECK CONSTRAINT [FK_NotificationReceiver_Notification]
GO
ALTER TABLE [dbo].[Organizer]  WITH CHECK ADD  CONSTRAINT [FK_Organizer_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Organizer] CHECK CONSTRAINT [FK_Organizer_Category]
GO
