@{
    ViewData["Title"] = "Login";
    var error = TempData[ToastType.ErrorMessage.ToString()] as string;
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css"/>
<link rel="stylesheet" href="~/css/flaticon_expovent.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" />

<div class="login-container">
    <div class="login-left">
        <div class="logo">
            <img src="./img/logo/logo-fpt.png" alt="FPT Logo" />
        </div>
        <h1 class="title">
            <span class="flip-letter">F</span>
            <span class="flip-letter">P</span>
            <span class="flip-letter">T</span> EVENT MANAGEMENT
        </h1>
        <p class="subtitle">Experience to success.</p>

        @if (!string.IsNullOrEmpty(error))
        {
             <div class="error-message">@error</div>
        }

        <form asp-action="Login" method="post">
            <div class="input-group">
                <span class="input-icon"><i class="flaticon-user-2"></i></span>
                <input type="email" name="email" placeholder="Email" required />
            </div>

            <div class="input-group">
                <span class="input-icon"><i class="flaticon-password"></i></span>
                <input type="password" name="password" placeholder="Password" required />
            </div>

            <div class="form-extra">
                @* <label><input type="checkbox" name="isOrganizer" /> Is Organizer</label> *@
                <a asp-action="ForgotPassword" asp-controller="Authentication" style="text-decoration:none; color:#000">Forgot your Password?</a>
            </div>
            <button type="submit" class="sign-in-btn">Sign in</button>
            <button type="button" class="google-btn">
                <a href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=https://fuem.azurewebsites.net/login-google&response_type=code&client_id=89142229238-cu1tiul7dl16gs4qigcjsgd0emkk3j0d.apps.googleusercontent.com&approval_prompt=force" />
                Sign in With Google
            </button>
        </form>

        <p class="signup-text">Don't Have An Account? <a asp-action="SignUp" asp-controller="Authentication">Sign up now</a></p>
    </div>

    <div class="login-right">
        <img src="~/img/decorate/sign-in.jpg" alt="Login Image" />
    </div>
</div>

@await Html.PartialAsync("_ToastSetUp")
@await Html.PartialAsync("_ValidationScriptsPartial")