@model FUEM.Domain.Common.Page<FUEM.Domain.Entities.Event>

@{
    // if (User.IsInRole("Admin"))
    // {
    //     Layout = "~/Views/Shared/_AdminLayout.cshtml";
    // }
    // else if (User.IsInRole("Organizer"))
    // {
    //         Layout = "~/Views/Shared/_ClubLayout.cshtml";

    // }
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
    ViewData["Title"] = "Sự kiện Đã Tổ Chức";
}

<style>
    .event-list {
        margin-top: 20px;
        list-style: none; 
        padding: 0;
        margin: 0;
    }

    .event-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .event-details {
        flex-grow: 1;
    }

    .event-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .event-meta {
        font-size: 0.9rem;
        color: #666;
        margin: 0.25rem 0;
    }

    .event-actions {
        margin-left: 1rem;
    }

   
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .event-list-item:hover {
        background-color: #f8f9fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }
   
    .organized-events-heading {
        font-size: 2.5rem;
        color: #F37021; 
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        border-bottom: 3px solid #f37021; 
        padding-bottom: 0.5rem;
    }
</style>

<div class="container mt-5">
    <h2 class="text-center mt-50 mb-4 organized-events-heading">Organized events</h2>

    @if (Model != null && Model.Items.Any())
    {
        <ul class="event-list">
            @foreach (var eventItem in Model.Items)
            {
                <li class="event-list-item">
                    <div class="event-details">
                        <h5 class="event-title">@eventItem.Fullname</h5>
                        <p class="event-meta">Ngày tổ chức: @eventItem.DateOfEvent?.ToString("dd/MM/yyyy")</p>
                        <p class="event-meta">Số người đã tham gia: @eventItem.GuestRegisterCount/@eventItem.GuestRegisterLimit</p>
                    </div>
                    <div class="event-actions">
                        <a href="#" class="element__btn border-yellow ">View feedbacks</a>
                    </div>
                </li>
            }
        </ul>

        @* Gọi Partial View phân trang và truyền model vào *@
        @await Html.PartialAsync("_PaginationControl", Model)
    }
    else
    {
        <p class="text-center">No event has been organized yet. </p>
    }
</div>